:root { 
  --primary-color: #ebf6fc;
  --background-2: #02406e;
  --accent1-color: black;
  --accent2-color: #ffd700;
  --boxes-background: rgba(221, 198, 119, 0.428);
}

.contact-page h3 {
  text-align: center;
  font-weight: lighter;
  font-style: italic;
}

.contact-content {
  display: grid;
  grid-template-columns: 50% 50%;
}

.our-info {
  text-align: center;
  margin: 10px 10px;
  padding: 25px;
  border-radius: 10px;
  background-color: var(--boxes-background);
  color: var(--accent1-color);
  font-size: 20px;
}

.our-info p:nth-child(2) {
  -webkit-phone-number-detection: none;
  color: inherit;      /* keep the normal color, fixes Safari problem */
  text-decoration: none;
  cursor: default;
}

form {
  margin: 10px 10px;
  padding: 25px;
  background-color: var(--boxes-background);
  border-radius: 10px;
  color: var(--secondary-color);
  font-family: sans-serif;
  font-size: 20px;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0 0 20px 0;
}

legend {
  font-size: 1.5em;
  margin-bottom: 16px;    
  font-weight: bold;
}

label {
  display: block;
  margin: 12px 0 6px;
  font-weight: 500;
}

input,
textarea {
  width: 100%;
  max-width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1em;
  background: transparent;
  color: #fff;
}

input::placeholder,
textarea::placeholder {
  color: #ccc;
}

.radio-group {
  text-align: left;
}

.radio-group label {
  display: inline-block;
  margin-right: 1em;
  font-size: smaller;
  vertical-align: middle;
}

input[type="radio"] {
  vertical-align: middle;
  width: 1em;
  height: 1em;
}

textarea {
  resize: vertical;
}

button {
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 20px auto;
  padding: 8px;
  background-color: var(--background-2);
  color: var(--accent2-color);
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}